-----BEGIN CERTIFICATE-----
MIICUzCCAbwCCQCbfECzj5I5hTANBgkqhkiG9w0BAQUFADBuMQswCQYDVQQGEwJB
VTEQMA4GA1UECAwHYm91Ym91cDENMAsGA1UEBwwEY2l0eTEPMA0GA1UECgwGZXNm
c2VmMQwwCgYDVQQLDANzZWYxDDAKBgNVBAMMA3NlZjERMA8GCSqGSIb3DQEJARYC
c2YwHhcNMTMxMDI5MTUzNTM4WhcNMTQxMDI5MTUzNTM4WjBuMQswCQYDVQQGEwJB
VTEQMA4GA1UECAwHYm91Ym91cDENMAsGA1UEBwwEY2l0eTEPMA0GA1UECgwGZXNm
c2VmMQwwCgYDVQQLDANzZWYxDDAKBgNVBAMMA3NlZjERMA8GCSqGSIb3DQEJARYC
c2YwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMUuNrR9PwdW6tTs7NKQ3zyf
G1/QSIqeP/s/vxp+Lh84sU41iBuxjWkvzlbF+30xVb++foeZCH6n9/28JmsBUCQp
7jcER9S/86egzlPLlBkRvJsRlAQwlcLY2FJ6ETtbC7qJlqEHDckrcFMvKCsRj3PX
KbbPEzSImPWUA6LWYkV/AgMBAAEwDQYJKoZIhvcNAQEFBQADgYEAGj4cYa7VhZg0
TkDGaNmQML2aOuuSWZ7sDNfQr0xy6jy+NMdWDc6KJRyD2XX6ipfdPrmhSXxcA/7Q
HH+2GEl3v2ZqOZ60MFLESjTfZKGCqLliPtIcEyW5e4aLSPmjiAdfS7ySRyH//q//
mROtFTJDNGZUbSGEi4jsbgF0o+uM2f0=
-----END CERTIFICATE-----