PATH_TO_TASK=/usr/local/openfiles/openfile_monitor.sh
(sleep 5 && . $PATH_TO_TASK) &
(sleep 10 && . $PATH_TO_TASK) &
(sleep 15 && . $PATH_TO_TASK) &
(sleep 20 && . $PATH_TO_TASK) &
(sleep 25 && . $PATH_TO_TASK) &
(sleep 30 && . $PATH_TO_TASK) &
(sleep 35 && . $PATH_TO_TASK) &
(sleep 40 && . $PATH_TO_TASK) &
(sleep 45 && . $PATH_TO_TASK) &
(sleep 50 && . $PATH_TO_TASK) &
(sleep 55 && . $PATH_TO_TASK) &
(sleep 60 && . $PATH_TO_TASK) &