#!/bin/bash
str=`pgrep -f {{ app_name }}`
str2=`sudo ls -l /proc/$str/fd | grep -c ""`
if [ $str2 -gt {{ openfile_threshold }} ]
then
NOW=$(date +"%D-%T")
echo "["$NOW"] WARNING: High open file number - "$str2 >> /var/log/openfiles.log
fi