$Modload imfile

{% for token in logentries_token %}
$InputFileName {{ token.filename }}
$InputFileTag {{ token.filetag }}
$InputFileStateFile {{ token.filestatefile }}
$InputFileSeverity info
$InputFileFacility local7
$InputRunFileMonitor

{% endfor %}

$InputFilePollInterval 10

{% for token in logentries_token %}
$template ErrorLogentries,"{{ token.value }} %HOSTNAME% %syslogtag%: %msg%\n"
if $programname == '{{ token.filetag }}' then @@data.logentries.com:10000;ErrorLogentries
& ~

{% endfor %}