$Modload imfile

$InputFileName /var/log/nginx/error.{{ app_name }}.log
$InputFileTag error-{{ app_name }}-log
$InputFileStateFile error-{{ app_name }}-log-file
$InputFileSeverity info
$InputFileFacility local7
$InputRunFileMonitor
$InputFilePollInterval 10

$template ErrorLogentries,"{{ logentries_errorlog_token }} %HOSTNAME% %syslogtag%: %msg%\n"
if $programname == 'error-{{ app_name }}-log' then @@data.logentries.com:10000;ErrorLogentries
& ~