daemonize yes
pidfile /var/run/redis/redis-server.pid
port {{redis_port}}
timeout 300
loglevel notice
logfile /var/log/redis/redis-server.log
databases 16
{% for item in redis.rdb %}
save {{ item.minutes }} {{ item.key_changes }}
{% endfor %}
rdbcompression yes
dbfilename dump.rdb
dir /var/lib/redis
slave-serve-stale-data yes
{% if redis_password is defined %}
requirepass {{ redis_password }}
{% endif %}
{% if redis_maxmem is defined %}
maxmemory {{redis_maxmem}}
{% endif %}
{% if redis_aof is defined %}
appendonly yes
{% else %}
appendonly no
{% endif %}
appendfilename appendonly.aof
appendfsync everysec
no-appendfsync-on-rewrite no
vm-enabled no
vm-swap-file /var/lib/redis/redis.swap
vm-max-memory {{ redis_vm_maxmem }}
vm-page-size 32
vm-pages 134217728
vm-max-threads 4
hash-max-zipmap-entries 512
hash-max-zipmap-value 64
list-max-ziplist-entries 512
list-max-ziplist-value 64
set-max-intset-entries 512
activerehashing yes