check host localhost with address 127.0.0.1
        stop "/sbin/stop {{ app_name }}"
        start "/sbin/start {{ app_name }}"
        if failed port {{ port }} protocol HTTP
                request {{ monit_http_check }}
                with timeout 5 seconds
                then restart