$Modload imfile

$InputFileName /var/log/{{ app_name }}.log
$InputFileTag {{ app_name }}
$InputFileStateFile {{ app_name }}-file
$InputFileSeverity info
$InputFileFacility local7
$InputRunFileMonitor
$InputFilePollInterval 10

$InputFileName /var/log/monit.log
$InputFileTag monit-{{ app_name }}-log
$InputFileStateFile monit-{{ app_name }}-log-file
$InputFileSeverity info
$InputFileFacility local7
$InputRunFileMonitor
$InputFilePollInterval 30

$template Logentries,"{{ logentries_token }} %msg%\n"
if $programname == '{{ app_name }}' then @@data.logentries.com:10000;Logentries
& ~

$template Logentries,"{{ logentries_monit_token }} %HOSTNAME% %syslogtag%: %msg%\n"
if $programname == 'monit-{{ app_name }}-log' then @@data.logentries.com:10000;Logentries
& ~