cluster.name: woorank_es

path.conf: {{elasticsearch_dir}}/config
path.data: {{elasticsearch_dir}}/data
path.logs: {{elasticsearch_dir}}/logs

bootstrap.mlockall: true

gateway.type: local

cloud.aws.access_key: 
cloud.aws.secret_key: 

discovery.type: ec2
discovery.ec2.tag.elasticsearch: true