cluster.name: woorank_es

cloud:
    aws:
        access_key: {{elasticsearch_access_key}}
        secret_key: {{elasticsearch_secret_key}}

discovery:
    type: ec2

discovery.ec2.tag.elasticsearch: true
