input {
  {% if app_name is defined %}
  file {
    type => "applog"

    path => ["/var/log/{{app_name}}.log"]
  }
  {% endif %}

  file {
    type => "syslog"

    path => [ "/var/log/*.log", "/var/log/messages", "/var/log/syslog"]

    {% if app_name is defined %}
    exclude => ["logstash.log","{{app_name}}.log"]
    {% else %}
    exclude => ["logstash.log"]
    {% endif %}

  }
}

output {
  stdout { codec => rubydebug }
  redis { host => "{{ redis_host }}" data_type => "list" key => "logstash" }
}