input {
  {% if app_name is defined %}
  file {
    type => "applog"

    path => ["/var/log/{{app_name}}.log"]
  }
  {% endif %}
}

output {
  stdout { codec => rubydebug }
  redis { host => "{{ redis_host }}" data_type => "list" key => "logstash" }
}